:root{
 --gray:#ECECEC;
 --gray2:#929292;
 --gray3:#F8F8F8;
 --purple:#837AFF;
 --purple2:rgba(180, 168, 255, 0.65);
 --purple3:#CC55FE;
 --pink:#FF91C4;
}
ul{
 list-style: none;
 padding: 0;
 margin: 0;
}
a{
 text-decoration: none;
 color: rgb(15, 15, 15);
}
html,body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}
body{
 overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
 margin: 0;
 padding: 0;
}
#root{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 4rem 3rem auto 15rem;
}
.main{
 display: grid;
 grid-template-columns: 70% 30%;
 padding: 3rem;
}
.container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.navbar{
 background: var(--gray);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.5rem;
}
.user-panel{
 font-weight: bolder;

}
.logo a h1{
 color:var(--purple);
 font-weight:lighter;
}
.user-panel a{
  margin: 0 1.5rem;
  color: var(--gray2) !important;
 }
.search-input {
background: white;
border-radius: 4px;
padding: .5rem;
width: 15rem;
display: flex;
justify-content: space-between;
}
.search-input input{
 border: none;
 width: 14rem;
}
.galleries-container{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 2rem;
}
.gallery-card{
 position: relative;
 height: 18rem;
 width: 18rem;
 border-radius: 8px;
 overflow: hidden;
 background-size: cover;

}

.gallery-content{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(180, 168, 255, 0.849);
display: flex;
justify-content: center;
align-items: center;

}
.title{
 width: 100%;
 text-align: left;
}
.p-2{
 padding: 2rem;
}
.categories-container{
 display: flex;
 align-items: center;
 padding: 0 2rem;
 background: var(--gray3)
}
.categories-container a{
 margin: 0 1rem;
 font-weight: lighter;
 text-transform: uppercase;
 color: var(--purple3);
}
.posts-container{
 box-sizing: border-box;
 grid-column: 1/2;
 padding:0 2rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
 grid-gap: 4rem;
}
.post-card{
 position: relative;
 background: #f8f8f8;
 padding: 1rem;
}
.post-card img{
 width: 100%;
 border-radius: 8px;
}
.post-card--title{
 text-align: center;
 margin: 1rem 0;
 font-weight: bolder;
 color: #545454;
}

.recentPosts{
 padding: 0 4rem;

}
.recentPosts ul{
 position: relative;
 list-style: none;
 background:#f8f8f8;
 padding: 2rem 1rem;
}
.recentPosts ul li{
 margin: 1rem;
}
.recentPosts ul li a{
 font-weight: bolder;
}
.title{
 margin: 2rem;
 font-size: 2rem;
 color: var(--gray2);
}
.title h2{
 font-weight: 200;
}
.square{
 box-shadow: 8px -7px 9px -3px rgba(201, 201, 201, 0.507);
 transition: .3s all;
}
.square::after{
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: .6rem;
 right: .6rem;
 background: var(--pink);
 z-index: -1;
 transition: .3s all;
}
.square:hover::after{
 top: -.6rem;
 right: -.6rem;
}
.square:hover{
 box-shadow:-4px 7px 9px 3px rgba(201, 201, 201, 0.541)
}
.square-blue::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: .6rem;
  right: .6rem;
  background: var(--pink);
  z-index: -1;
  transition: .3s all;
 }
 .square-blue:hover::after{
  top: -.6rem;
  right: -.6rem;
 }
 .square-blue:hover{
  box-shadow:-4px 7px 9px 3px rgba(201, 201, 201, 0.541)
 }
footer{
 margin: 1rem;
 border-radius: 8px;
 background: skyblue;
 display: flex;
 justify-content: center;
 align-items: center;
}

.form-controll{
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #f8f8f8;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
form{
  width: 80%;
}
.form-controll-title{
  width: 100%;
  text-align: center;
}
.form-controll-title h1{font-weight: lighter;}

.form-group{
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  position: relative;
  width: 40%;
  position: relative;
  padding: .8rem;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.input-submit{
  background: skyblue;
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bolder;
  
}